/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: fit-content;
  font-family: $global-font-family;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  & + table {
    margin-top: 1em;
  }
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
}

tr, td, th {
  vertical-align: middle;

  // initially, these logos were bigger than others causing the table to look a bit awkward
  // so by setting the width of these to 122px, all logos will the same size
  // (don't mind me, just putting my ux brain to use here lol)
  #water, #electricity, #jobs {
    width: 122px;
  }
}