/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: fit-content;
  font-family: $global-font-family;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  & + table {
    margin-top: 1em;
  }
}

tr #electricity {
  padding-top: 37px;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
}

tr, td, th {
  vertical-align: middle;
}